<div class="comments-row">
    <mat-form-field>
        <input type="text" matInput placeholder="Laissez un commentaire…" [formControl]="commentCtrl">
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="onLeaveComment()" [disabled]="commentCtrl.invalid">
        <mat-icon>send</mat-icon>
    </button>
</div>

<mat-list *ngIf="comments.length" @list>
    <h2 matSubheader>Commentaires</h2>
    <mat-list-item *ngFor="let comment of comments; let i = index"
                   [@listItem]="animationStates[i]"
                   (mouseenter)="onListItemMouseEnter(i)"
                   (mouseleave)="onListItemMouseLeave(i)"
    >
        <div matListItemLine class="comment-text">{{ comment.comment }}</div>
        <div matListItemLine class="comment-date">{{ comment.createdDate | timeAgo }}</div>
    </mat-list-item>
</mat-list>