@use "@angular/material" as mat;

html {
    height: 100%;

    @include mat.theme(
            (
                color: mat.$azure-palette,
                typography: Roboto
            )
    );
}

mat-toolbar {
    span {
        font-weight: bold;
    }

    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-primary),
        container-text-color: var(--mat-sys-on-primary)
    ));
}

body {
    height: 100%;
    margin: 0;
    background: #24292e;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
